@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /*COLORS*/
  --main-color: #181818;
  --main-color-blue: #1e9bff;
  --main-color-blue-opacity: #1e9aff8a;
  --main-color-blue-light: #c3e0f8;
  --text-color-white: #fff;

  /*BOX-SHADOW*/
  --section-box-shadow: 0 3px 10px var(--main-color-blue);
}

/*DEFAULT SETTINGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-white);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--main-color);
  overflow-x: hidden;
}

a {
  color: var(--text-color-white);
}
